.wrapper {
  display: flex;
  justify-content: center;
  margin: 200px 0 0 0;
  padding: 20px;

  h1 {
    font-size: 2rem;
    margin: 0;
  }

  h2 {
    font-size: 3rem;
    margin: 1rem 0;
  }

  p {
    font-size: 1rem;
    margin: 1rem 0;
  }
}

.container {
  display: flex;
  max-width: 1440px;
  width: 100%;
  align-items: center;

  gap: 40px;
}

.textSection {
  flex: 1;
  max-width: 50%;
}

.imageSection {
  flex: 1;
  display: flex;
  gap: 1rem;
  overflow: hidden;
}

.image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

@media screen and (max-width: 1100px) {
  .wrapper {
    margin: 100px 0 0 0;

    h2 {
      font-size: 2rem;
    }
  }
  .container {
    flex-direction: column;
  }

  .textSection {
    max-width: 100%;
  }

  .image {
    width: 50%;
    height: 300px;
  }
}
