.wrapper {
  display: flex;
  justify-content: center;
  margin: 200px 0 0 0;
  padding: 20px;
  height: 600px;

  h1 {
    font-size: 2rem;
    margin-bottom: 100px;
  }

  h2 {
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 2px;
    margin: 1rem 0;
  }

  p {
    font-size: 16px;
    margin: 1rem 0;
  }
}

.container {
  display: flex;
  max-width: 1440px;
  width: 100%;
  align-items: center;
  gap: 40px;
}

.textSection {
  flex: 1;
  max-width: 50%;
}

.imageSection {
  display: flex;
  gap: 1rem;
  overflow: hidden;
  flex: 1;
  height: 600px;

  img {
    width: 50%;
  }
}

.image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

@media screen and (max-width: 1100px) {
  .wrapper {
    margin: 100px 0 0 0;
    height: fit-content;
    h1 {
      margin-bottom: 40px;
    }

    h2 {
      font-size: 20px;
      line-height: 22px;
      letter-spacing: 1px;
    }
  }
  .container {
    flex-direction: column;
  }

  .textSection {
    max-width: 100%;
  }

  .image {
    width: 50%;
    height: 300px;
  }

  .imageSection {
    height: fit-content;
    img {
      height: 100%;
    }
  }
}
